<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignment5</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <!--Use bootstrap for styling-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>

    <div class="text-center">
        <image src="https://daderonan.com/wp-content/uploads/2014/10/BookBanner.jpg" class="hoge" ></image>
    </div>
    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col navbar-brand">BOOK LIST</div>
                <div class="col-6 text-right">
                    <vc:cart-summary />
                </div>
            </div>
        </div>
    </div>

    <div class="row m-1 p-1">
        <div class="col-3" style="background-color:aliceblue">
            <vc:navigation-menu />
            <br />
            <br />

            <!--img-thumbnail is the new bootstrap!-->
            <image src="https://c1.staticflickr.com/1/134/330646039_ddc568f138_b.jpg" class="img-thumbnail" width="420"></image>
            <br />
            <br />
            <!--kbd and pre are the new bootstrap!-->
            <p>Use <kbd>Ctrl + F</kbd> to find what you are looking for!</p>
            <pre>
                When you press "Ctrl" and "f" at the same time, <br />
                a search bar will pop up. Put your favorite <br />
                book's name in the bar, and it will bring the <br />
                information about the book for you:)
            </pre>
        </div>

        <div class="col-9">
            @RenderBody()
        </div>
    </div>





</body>
</html>
